body{
  background: transparent;
  overflow: hidden;
  padding: 0px;
  width: 1920px;
  height: 1080px;
  font-family: "Bold";
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1920px;
}


.left .player-box{
  top: 50px;
  white-space: nowrap;
  display: grid; /* Enables grid for the parent */
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  Example: responsive columns */
  grid-template-columns: 0.7fr 20px 2fr 0.4fr 45px;
  justify-items: center; /* Centers grid items within their cells */
  align-items: center; /* Centers grid items vertically within their cells */

  overflow: hidden;
  text-overflow: ellipsis;
}

.right .player-box{
  top: 50px;
  white-space: nowrap;
  display: grid; /* Enables grid for the parent */
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  Example: responsive columns */
  grid-template-columns: 45px 0.4fr 2fr 20px 0.7fr ;
  justify-items: center; /* Centers grid items within their cells */
  align-items: center; /* Centers grid items vertically within their cells */

  overflow: hidden;
  text-overflow: ellipsis;
}


.player-item{
  position: relative;
  white-space: nowrap;
  display: inline-block;
  z-index: 3;
  font-size: 36px;
  overflow: hidden;
  text-overflow: ellipsis;

}

.player-left, .player-right {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f0f0f0;
  text-align: center;
  width: 780px;
  position: relative;         /* so the image positions inside this container */
  overflow: hidden;
}

.round {
  background-color: #f0f0f0;
  font-size: 36px;
  text-align: center;

}


